In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
# Pull page contents from designated URL
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page = requests.get(url)
html_text = BeautifulSoup(page.text, 'html')

In [3]:
# Extract desired table
table = html_text.find_all('table', class_ = 'wikitable sortable')[0]

In [4]:
# Extract headers from table
table_headers = table.find_all('th')

In [40]:
# Clean and format headers (remove tags and extra spaces)
cleaned_table_headers = [(header.text.strip()) for header in table_headers]

In [41]:
# Add headers as columns to Pandas DataFrame
df = pd.DataFrame(columns = cleaned_table_headers)

In [65]:
# Extract rows from table
table_rows = table.find_all('tr')[1:]

In [85]:
# Extract data from rows and add to Pandas DataFrame
for row in table_rows:
    data = [(item.text.strip()) for item in row.find_all('td')]
    df_length = len(df)
    df.loc[df_length] = data

In [86]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
195,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
196,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
197,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
198,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
199,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

In [87]:
df.to_csv(r'C:\Users\aldan\OneDrive\Desktop\Python Files\web_scraping_project.csv', index = False)